.admin-container{
    padding: 0.2rem;
}

.admin-home{
    display: flex;
    justify-content: space-between;
}

.home-item{
    width: 24%;
    margin-right: 1%;
    height: 140px;
    border-radius: 20px;
    background: white;
    color: #ef5222;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);

    display: flex;
    justify-content: space-between;
}

.home-item:hover{
    cursor: pointer;
}

.home-item .home-item-icon{
    width: 40%;
    text-align: center;
  
}

.home-item .home-item-infor p, label{
   font-weight: bold;
}

.home-item .home-item-icon i{
    font-size: 80px;
    padding: 1.5rem;
}

.home-item .home-item-infor{
    text-align: center;
    padding: 2.2rem;
}

.graph, .table{
    width: 49%;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    padding-bottom: 1.5rem;
}

.graph .graph-infor, .table .talbe-infor{
    width: 100%;
    padding: 1.5rem;
}



.table .table-title{
    text-align: center;
    padding: 1.5rem;
    
}

.table table{
    margin: 0px auto;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    border-radius: 20px;
}

.table table th, td{
    text-align: center;
    padding: 1rem;
}

.table table th{
    background: #00613d;
    color: white;
    margin: 0px;
}

.table table td i{
    color: #ef5222;
    font-size: 28px;
}

.table table td i:hover{
    cursor: pointer;
}


