.account-container{
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    padding: 0.2rem;
}

.account-chart{
    width: 49%; 
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1); 
    background: white; 
    border-radius: 20px;
}

.account-table{
    width: 49%; 
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1); 
    background: white; 
    border-radius: 20px; 
    margin-right: 1%;
}

.account-table table{
    background: #f6f6f6;
    margin: 0px auto;
    border-radius: 20px;
    border-collapse:collapse;
    width: 90%;
}

.account-table table th{
    background: #00613d;
    color: white;
    padding: 0.5rem;
    margin: 0px;
   
}

.account-table table th, td{
    text-align: center;
}

.account-table table td{
    padding: 0.5rem;
}

.account-table table td i:hover{
    cursor: pointer;
}

#table-top-left{
    border-top-left-radius:20px;
}
#table-top-right{
    border-top-right-radius:20px;
}

.account{
    float: left;
    margin: 0.5rem;
    width: 48.4%;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1); 
    background: white;
    border-radius: 20px;
}

.acount-title{
    color: #ef5222;
    padding: 15px;
    
}

.form{
    padding: 1rem;
    width: 100%;
}

.form p{
    color: #00613d;
}

.form .form-input{
    padding:10px 0px;
}

.form .form-input input{
    float: right;
    font-size: 15px;
    outline: none;
    width: 70%;
}

.form .form-input button{
    background: #ef5222;
    border-radius: 20px;
    color: white;
    float: right;
}

.edit{
    margin-left: 0.5%;
}

.edit .edit-title{
    color: #00613d;
    padding: 15px;
}

.edit .form-input button{
    background-color: #00613d;
}