<section *ngIf="!paidFor">
    <div style="display: flex;">
        <h2 class="title" style="width: 90%;">THANH TOÁN QUA PAYPALL</h2>
        <button style="text-align: right; width: 10%;" (click)="onClose()"><i class="far fa-times-circle"></i></button>
    </div>
    <div class="pay-infor">
        <label>Người mua: <span>{{customerInfor.customerName}}</span></label>
        <label>Số điện thoại: <span>{{customerInfor.phone}}</span></label>
    </div>
    <hr style="width: 100%;"/>
    <!--  -->
    <div class="pay-infor">
        <label style="font-weight: bold; color: #ef5222;">Vé đi</label>
    </div>
    <div class="pay-infor">
        <label>Tuyến đường: <span>{{customerInfor.ticketOneWay.departure.ben_toi}} ⇒ {{customerInfor.ticketOneWay.destination.ben_toi}}</span></label>
        <label>Giờ chạy: <span>{{customerInfor.ticketOneWay.runTime}}:00 h</span></label>
    </div>
    <div class="pay-infor">
        <label>Ghế: 
            <ng-container *ngFor="let seat of customerInfor.ticketOneWay.seats; let i = index">
                <span>{{seat.name}}<span *ngIf="i<customerInfor.ticketOneWay.seats.length-1">,</span></span>
            </ng-container>
        </label>
        <label>Tổng tiền: <span style="font-weight: bold;">{{customerInfor.ticketOneWay.totalMoney}}<sup data-v-6f125f51="">₫</sup></span></label>
    </div>
    <!--  -->
    <hr style="width: 100%;"/>
    <div class="pay-infor">
        <label for=""></label>
        <label style="font-weight: bold;">Thanh toán: <span style="font-weight: bold;">{{customerInfor.ticketOneWay.totalMoney}}<sup data-v-6f125f51="">₫</sup></span></label>
    </div>
    <div class="btn-payment">
        <button>Thanh Toán</button>
    </div>
</section>

<div style="margin:auto; width: 60%; text-align: center;" [hidden]="paidFor" #paypal>
</div>
