<section >
    <div class="bus-type">
        <h2 class="title title-bus-type">Biểu đồ thể hiện số lượng loại xe</h2>
        <div class="chart">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
              [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="doughnutChartColors"
            >
          </canvas>
        </div>
    </div>
    <div class="bus-type-part">
        <h2 class="title title-bus-type">Danh sách tuyến với loại xe</h2>
        <div class="table-bus-type">
            <table>
                <tr>
                  <th id="table-top-left">STT</th>
                  <th>Tên Bến</th>
                  <th>Địa chỉ</th>
                  <th></th>
                  <th id="table-top-right"></th>
                </tr>
                <tr>
                  <td>Jill</td>
                  <td>Smith</td>
                  <td>50</td>
                  <td style="color: #00613d;"><i class="fas fa-edit"></i></td>     
                </tr>
                <tr>
                  <td>Eve</td>
                  <td>Jackson</td>
                  <td>94</td>
                  <td style="color: #00613d;"><i class="fas fa-edit"></i></td>                 </tr>
            </table>
        </div>
        <div style="padding:1rem;">
            
        </div>
    </div>
    <div class="bus-type-part">
        <h2 class="title title-bus-type">Danh sách tuyến với loại xe</h2>
        <div class="table-bus-type">
            <table>
                <tr>
                  <th id="table-top-left">STT</th>
                  <th>Tên Bến</th>
                  <th>Địa chỉ</th>
                  <th id="table-top-right"></th>
                </tr>
                <tr>
                  <td>Jill</td>
                  <td>Smith</td>
                  <td>50</td>
                </tr>
                <tr>
                  <td>Eve</td>
                  <td>Jackson</td>
                  <td>94</td>
            </table>
        </div>
        <div class="button-container">
            <button id="add">Thêm</button>
            <button id="save">Lưu</button>
        </div>
    </div>
</section>