<div class="title">
    <h2>Sơ Đồ Ghế</h2>
 </div>
 <div *ngIf="listSeat.floor==1; else elseFloor1" id="floor-1">
    <h2>Ghe</h2>
    <table>
        
    </table>
 </div>
 <ng-template #elseFloor1>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="floor-1" style="padding-bottom: 10px;">
            <h2>Tang 1</h2>
            <table style="width: 100%;">
                <!-- <ng-container *ngFor="let i of listSeat.list_giuong; index as row;">
                    <tr>
                        <ng-container *ngFor="let j of i.seat; index as local">
                            <td *ngIf="j!=0&&j[0].trangThai==1" id="seat" class="disable seat"><button  (click)="onBook(j[0])">{{j[0].stt}}</button></td>
                            <td *ngIf="j!=0&&j[0].trangThai==0" id="seat" class="activety seat"><button  (click)="onBook(j[0])">{{j[0].stt}}</button></td>
                            <td *ngIf="j==0"></td>
                        </ng-container>
                    </tr>
                </ng-container> -->
            </table>
        </div>
        <div class="floor-2" style="padding-bottom: 10px;">
            <h2>Tang 2</h2>
            <table style="width: 100%;">
                <!-- <ng-container *ngFor="let i of listSeat; index as row;">
                    <tr>
                        <ng-container *ngFor="let j of i.seat;index as local;">
                            <td *ngIf="j!=0&&j[0].trangThai==1" id="seat" class="disable seat"><button  (click)="onBook(j[0])">{{j[0].stt}}</button></td>
                            <td *ngIf="j!=0&&j[0].trangThai==0" id="seat" class="activety seat"><button  (click)="onBook(j[0])">{{j[0].stt}}</button></td>
                            <td *ngIf="j==0"></td>
                        </ng-container>
                    </tr>
                </ng-container> -->
            </table>
        </div> 
    </div>
 </ng-template>


 <div style="clear: both;"></div>
 <div class="note">
     <div class="note-content">
        <label for=""><input type="text" disabled style="background: #eff9ff; border: 1px solid  rgb(65, 62, 62);"> Trống</label>
     </div>
     <div class="note-content">
         <label for=""><input type="text" disabled style="background:  #e05c30; border: 1px solid  rgb(65, 62, 62);"> Đang chọn</label>
     </div>
     <div class="note-content">
         <label for=""><input type="text" disabled style="background: #696b6d; border: 1px solid  rgb(65, 62, 62);"> Đã đặt</label>
     </div>
 </div>
 <div class="clear"></div>
<div style="display: flex; width: 100%;">
    <div class="selected-seat">
        <p style="text-align: left;">Ghế đã chọn: </p>
        <div style="padding: 3%;">
<!--             <span style="color: #F15A24; font-weight: bold;" *ngFor="let i of listSeatsChoose">{{i.stt}} </span>  
 -->        </div>
    </div>
    <div class="total">
        <p>Tổng tiền: </p>
        <p><span> <!-- {{totalPrice}} --> đ</span></p>
    </div>
</div>











