section{
    margin-top: 30px;
    margin-bottom: 100px;
}

.individual-infor{
    padding: 1rem;
    justify-content: space-between;
    display: flex;
}

.individual{
    width: 65%;
    margin-right: 3%;
    border-radius: 10px;
    border:1px solid #f6f6f6;
}

.address{
    width: 39%;
    border-radius: 10px;
    border:1px solid #f6f6f6;
}

.individual-infor-title{
    background: #ddd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h3{
    padding: 15px;
    font-weight: normal;
    color: #504c4c;
}

.individual .icon{
    width: 30%;
    margin-right: 2%;
    padding: 5%;
    text-align: center;
}

.title{
    text-transform: uppercase;
    text-align: left;
    padding-left: 1rem;
}

.individual .icon i{
    font-size: 80px;
    color: #ddd;
}

table td{
    padding: 10px;
    font-size: 16px;
}

.subject{
    font-weight: bold;
    color: #3f3e3e;
}

.n-subject{
    color: #8b8888;
}

.address input, select{
    border: none;
    outline: none;
    color: #8b8888;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

#btn-save{
    float: right;
    background-color: #ef5222;
    color: white;
    margin-right: 2%;
    border-radius: 5px;
}



