<app-header [index]=-1></app-header>
<section class="container">
    <div class="history-title">
        <h2>Lịch sử đặt vé</h2>
        <button (click)="onBookTiket()">Đặt vé</button>
    </div>
    <div class="type-search">
        <div class="search">
            <div>
                <label for="">Từ khóa</label>
            </div>
            <div>
                <input #codeTicket type="text">
            </div>
        </div>
        <div class="search">
            <div>
                <label for="">Thời gian</label>
            </div>
            <div>
                <input (change)="onChangeDate($event.target)" type="date">
            </div>
        </div>
        <div class="search">
            <div>
                <label for="">Tuyến đường</label>
            </div>
            <div>
                <select (change)="onSearchByRoute($event.target)">
                    <ng-container *ngFor="let bR of busRoutes">
                        <option value='{{bR.id}}' >{{bR.ben_xe_di}} ⇒ {{bR.ben_xe_toi}}</option>
                    </ng-container>
                  </select>
            </div>
        </div>
        <div class="search">
            <div>
                <label for="">Trạng thái</label>
            </div>
            <div>
                <select (change)="onSearchByStatus($event.target)">
                    <option value="1">Đã chạy</option>
                    <option value="0">Chưa chạy</option>
                  </select>
            </div>
        </div>
        <div class="search">
            <div>
                <button (click)="onRefresh()" class="btn-refresh">Làm mới</button>
            </div>
        </div>
    </div>
    <div class="table-history">
        <table style="width:100%">
            <tr>
                <th>Số lượng</th>
                <th>Tuyến</th>
                <th>Ngày đi</th>
                <th>Giờ chạy</th>
                <th>Tổng tiền</th>
                <th>Thanh toán</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            <ng-container *ngFor="let t of tickets;">
                <tr>
                    <td>{{t.count}}</td>
                    <td>{{t.ben_di}} ⇒ {{t.ben_toi}}</td>
                    <td>{{t.ngay_chay}}</td>
                    <td>{{t.gio_chay}} h</td>
                    <td>{{t.count}}*{{t.gia_ve}}</td>
                    <td>{{t.ngay_thanh_toan}}</td>
                    <td *ngIf="t.trang_thai==1">Đã chạy</td>
                    <td *ngIf="t.trang_thai==0" class="no-run-yet">Chưa chạy</td>
                    <td *ngIf="t.trang_thai==0"><i class="fas fa-external-link-alt"></i></td>
                    <td *ngIf="t.trang_thai==1"></td>
                </tr>
            </ng-container>
           

          </table>
    </div>
</section>
<app-footer></app-footer>