<div class="modal-form">
    <form  action="">
        <h2 class="title">Dang Ky</h2>
     
        <div class="form-group">
            <div style="margin-bottom: 1%;"><label for="name">Ten tai khoan <span style="color: #ef5222;">(*)</span></label></div> 
            <div><input type="text" class="form-control"> </div> 
        </div>
        <div class="form-group">
            <div style="margin-bottom: 1%;"><label for="name">Mat khau <span style="color: #ef5222;">(*)</span></label></div> 
            <div>
                <input type="{{typeInput}}" id="password" class="form-control">
                <i class="fas fa-eye" *ngIf="!isShow" (click)="onShowPassword(true)"></i>
                <i class="fas fa-eye-slash"  *ngIf="isShow" (click)="onShowPassword(false)"></i> 
            </div> 
        </div>
        <div class="form-group">
            <div style="margin-bottom: 1%;"><label for="name">So dien thoai</label></div> 
            <div><input type="text" class="form-control"> </div> 
        </div>
        <div class="form-group">
            <div style="margin-bottom: 1%;"><label for="name">CMND</label></div> 
            <div><input type="text" class="form-control"> </div> 
        </div>
        <div class="form-group">
            <div style="margin-bottom: 1%;"><label for="name">Gmail</label></div> 
            <div><input type="text" class="form-control"> </div> 
        </div>
        <div class="form-group">
            <div style="display: flex; justify-content: space-between;">
                <div style="width: 45%; ">
                    <div style="margin-bottom: 1%;"><label for="name">Tinh/ TP</label></div> 
                    <div>
                        <select class="form-control">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option>
                        </select> 
                    </div> 
                </div>
                <div style="width: 45%;">
                    <div style="margin-bottom: 1%;"><label for="name">Quan/ Huyen</label></div> 
                    <div>
                        <select class="form-control">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option>
                        </select> 
                    </div> 
                </div>
            </div>
        </div>
        <div class="item">
            <button >Dang Ky</button>
        </div>
        <div class="item">
            <a (click)="onBackToLogIn()">Đăng Nhập</a>
        </div>
    </form>
</div>



