<app-header [index]="3"></app-header>
<div style="height: 50px;">

</div>
<section *ngIf="!isShow && !isLoad" class="container">
  <div class="invoice">
    <h2>Tra cứu hóa đơn</h2>
    <div style="margin: 3% 0%">
      <label>Tuyến xe</label>
      <div>
        <select name="route"  (change)="onChangeRoute($event.target)">
            <option *ngFor="let route of routes" value="{{route.id}}">{{route.ben_xe_di}}  ⇒  {{route.ben_xe_toi}}</option>
        </select>
      </div>
    </div>
    <div style="margin: 3% 0%; display: flex; justify-content: space-between;">
        <div style="width: 49%;">
            <label>Ngày</label>
            <div>        
                <input type="date" value="{{today}}" [(ngModel)]="today">
            </div>
        </div>
        <div style="width: 49%;">
            <label>Giờ chạy</label>
            <div>        
                <select name="time" id="time" (change)="onChangeTime($event.target)">
                    <option *ngFor="let t of time" value="{{t.giochay}}">{{t.giochay}} h</option>
                </select>
            </div>
        </div>
    </div>
    <div style="margin: 3% 0%">
        <label>Gmail</label>
        <div>
            <input type="text" [(ngModel)]="email">
        </div>
    </div>
    <div>
        <label>Số điện thoại</label>
        <div>
            <input type="text" [(ngModel)]="phone">
        </div>
    </div>
    <div>
        <button class="button" id="btn-search" (click)="onSearch()">Tìm Kiếm</button>
    </div>
  </div>
</section>

<app-loading *ngIf="isLoad"></app-loading>
<section *ngIf="isShow && !isLoad" class="container">
  <div class="infor-invoice">
    <h2 class="title">THÔNG TIN VÉ</h2>
    <table>
      <tr>
        <th class="label">Ngày mua:</th>
        <th class="value">{{ ticket.ngay_dat }}</th>
        <th class="label">Giờ bán:</th>
        <th class="value">{{ ticket.gio_dat }}:00 h</th>
      </tr>
      <tr>
        <th class="label">Mã vé:</th>
        <th class="value">{{ ticket.ma_code }}</th>
        <th class="label">Giờ chạy:</th>
        <th class="value">{{ ticket.gio_chay }}:00 h</th>
      </tr>
      <tr>
        <th class="label">Tuyến:</th>
        <th class="value">{{ ticket.tuyen_xe }}</th>
        <th class="label">Giường:</th>
        <th class="value">
          <ng-container *ngFor="let i of ticket.slots">
            {{ i }}
          </ng-container>
        </th>
      </tr>
      <tr>
        <th class="label">Số vé:</th>
        <th class="value">{{ ticket.slots.length }} vé</th>
        <th class="label">Tổng tiền:</th>
        <th class="value">{{ ticket.gia_ve }}đ</th>
      </tr>
    </table>
  </div>
  <div id="btn">
    <button class="btn-back" (click)="onBack()">Quay lại</button>
    <button class="btn-cancel" (click)="onCancel(ticket.id)">Hủy vé</button>
  </div>
</section>
<div style="height: 50px;">

</div>
<app-footer></app-footer>