<div class="modal-form">
    <form [formGroup]="formLogIn" (submit)="onLogIn()">
        <h2 class="title">Dang Nhap</h2>
        <div class="form-group">
            <div style="margin-bottom: 1%;"><label for="name">Ten tai khoan <span style="color: #ef5222;">(*)</span></label></div> 
            <div><input type="text" class="form-control" formControlName="userName"> </div> 
        </div>
        <div class="form-group">
            <div style="margin-bottom: 1%;"><label for="name">Mat khau <span style="color: #ef5222;">(*)</span></label></div> 
            <div><input type="password" class="form-control" formControlName="passWord"> </div> 
        </div>
        <div class="item">
            <button #logInSuccess>Dang nhap</button>
        </div>
        <div class="item">
            <a #signUp (click)="onSignUp()">Dang ky</a>
        </div>
    </form>
</div>


