<app-header [index]=1></app-header>
<section class="container">
    <img src="../../assets/schedule.png" alt="">
    <div class="transhipment">
        <h2 class="title">Bến xe & VP Trung chuyển</h2>

        <table>
            <tr>
                <th class="label-station">Bến xe {{route.ben_xe_di}}</th>
                <th class="address">
                    {{busStationInfor.dia_chi}}
                </th>
            </tr>
        </table>        
    </div>
    <div class="transhipment">
        <div class="title">
            {{route.ben_xe_di}} ⇒ {{route.ben_xe_toi}} <span>- {{route.khoang_cach}}km - {{route.khoang_thoi_gian}}h</span>
        </div>
        <div class="content-left">
            <section>
                <div>
                    <label class="label-search">
                        Ngày đi: 
                        <input id="search" type="date" 
                        [(ngModel)]="date"
                        min="{{date}}"> 
                    </label>
                </div>
                <div>
                    <table id="list-route">
                        <tr>
                            <th class="no-action">Giờ chạy</th>
                            <th class="no-action">Giờ đến</th>
                            <th class="no-action">Giá vé</th>
                            <th></th>
                        </tr>
                        <ng-container  *ngFor="let time of times; let i = index;">
                            <tr *ngIf="i%2!=0; else elseTimes" class="odd">
                                <td>{{time.giochay}}:00</td>
                                <td>***</td>
                                <td class="price">{{route.gia_ca}} <sup>đ/vé</sup> </td>
                                <td>
                                    <button (click)="onBookTicket()" class="btn-book-ticket"> Đặt vé</button>
                                </td>
                            </tr>
                            <ng-template #elseTimes>
                                <tr>
                                    <td>{{time.giochay}}:00</td>
                                    <td>****</td>
                                    <td class="price">{{route.gia_ca}} <sup>đ/vé</sup> </td>
                                    <td>
                                        <button (click)="onBookTicket()" class="btn-book-ticket"> Đặt vé</button>
                                    </td>
                                </tr>
                            </ng-template>
                            
                        </ng-container>      
                    </table>
                </div>
            </section>
        </div>
        <div class="content-right">
            <p style="color: #F15A24;">
                (*) Lưu ý:
            </p>
            <p style="text-align: left; margin-left: 100px;">
                - Quý khách vui lòng lên sớm hơn 20 phút để thu xếp hành lý.
            </p>
            <p style="text-align: left; margin-left: 100px;">
                - Xin hãy lưu lại thông tin mã vé để tiện cho việc kiểm tra.
            </p>
            <p style="color: #F15A24;">
                (*) Chúc quý khách có một chuyến đi vui vẻ.
            </p>
            <p style="color: #F15A24;">
                (*) Cảm ơn quý khách đã ưu ái nhà xe chúng tôi.
            </p>
        </div>
    </div>
</section>
<app-footer></app-footer>
