.bus-station{
    padding-top: 0.5rem;
    margin: 0.2rem;
    width: 100%;
    background: white;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    padding-bottom: 1rem;
    min-height: 600px;
}

.station-title{
    padding: 1rem;
    color: #00613d;
    text-transform: uppercase;
}

#search-bus-station{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.input-search{
    outline:  none;
    width: 80%;
    margin-right: 2%;
}

#btn-search{
    width: 100px;
    padding: 0rem;
    background: #00613d;
    color: white;
    height: 35px;
}

.previous{
    color: #00613d;
}

.chart{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chart-model{
    width: 60%;
    border-right: 0.2px solid #dfdfdf;
}
.chart-infor{
    width: 40%;
}

.chart-infor{
    width: 35%;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
}

.label-blod{
    color: #00613d;
    font-weight: bold;
    padding: 0.2rem;
}

.bold{
    color: #ef5222;
    font-weight: bold;
}

.account-header{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1rem;
}

.account-header i{
    font-size: 35px;
    margin-right: 0.5rem;
    color: #00613d;
}

.account-header i:hover{
    cursor: pointer;
}

#account-header span{
    font-size: 40px;
    color: #00613d;
}
 
table{
    width: 98%;
    margin: 0rem auto;

    border-collapse: collapse;
}

table tr th{
    background-color: #00613d;
    color: white;
}

table tr:hover{
    cursor: pointer;
} 

.old{
    background-color: #fff7f5;
    color: #ef5222;
}

table tr th, td{
    text-align: center;
    padding: 0.5rem;
} 

.operations i{
    padding: 0rem 1rem;
}

.edit{
    color: #00613d;
}

.delete{
    color: #ef5222;
}

#btn-add, #btn-save{
    background: #00613d;
    margin: 0.5rem;
    color: white;
    border-radius: 20px;
}

#account-form{
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
}

#notify-container{
    width: 90%;
    margin: 1.5rem auto;
}

#account-form label{    
    font-size: 20px;
    font-weight: bold;
}

.form-group{
    width: 15%;
}

.account-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.account-item-time{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.account-item-time input{
    text-align: center;
}

.account-item-time .span-time{
    margin-left: 3%;
    margin-right: 3%;
}

.address, .station-img{
    width: 40%;
}

#account-form input{
    outline: none;
}

#btn-save{
    background: #00613d;
}

.notify{
    color: #ef5222; 
    width: 100%;
}

.edit{
    color: #00613d;
}

.delete{
    color: #ef5222; 
}

.ban{
    color: black;
}

.edit:hover, .delete:hover, .ban:hover{
    cursor: pointer;
}

#station-form{
    width: 80%;
    margin: 1.5rem auto;
}

.station-item, #station-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.station-item{
    flex-wrap: wrap;
}

.input-address{
    width: 100%;
}

#router{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}