.bus-route{
    margin: 0.2rem;
    width: 99%;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
}

.route-title{
    padding: 0.5rem 0rem 0.1rem 0rem;
}

.revenue, .route-bus-management{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.part-bus-route{
    margin:1rem 0.2rem;
    width: 49%;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
}

.table{
    width: 100%;
    padding: 1rem;
}

table{
    width: 90%;
    background: #f6f6f6;
    margin: 0px auto;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    border-radius: 20px;
    border-collapse:collapse;
}

table tr th, td{
    text-align: center;
    padding: 0.5rem;
}

table th{
    background: #00613d;
    color: white;
}

table td{
    width: 25%;
}

#table-top-left{
    border-top-left-radius:20px;
}

#table-top-right{
    border-top-right-radius:20px;
}

.notify{
    color: #e05c30;
}

.not-notify{
    color: #00613d;
}

.notify th{
    background-color: #e05c30;
}

table td i:hover{
    cursor: pointer;
}

.table .item{
    padding: 0px 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem 0px;
}

.table .item .item-infor{
    width: 49%;
}

.modal-form-bus-route{
    position: absolute;
    left: 25%;
    top: 35%;

    width: 50%;

    background: white;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

.modal-form-bus-route .form{
    padding: 1rem;  
    width: 50%;
}

.form p{
    padding: 0.5rem 0rem;
}

#vertical table{
    margin: 1rem;
}

#vertical{
    border-left: 2px solid #f6f6f6;
}

#check{
    display: flex;
    justify-content: space-between;
}

#show-check{
    display: none;
    float: right;
}

#btn-disable{
    float: right;
    background: #e05c30;
    border-radius: 20px;
    margin-right: 1rem;
    color: white;
}

#time{
    border: none;
    outline: none;
    background: #f6f6f6;
}



