.bus-station{
    margin: 0.2rem;
    width: 99%;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
}

.station-title{
    padding: 1rem;
}



.table-station{
    float: left;
    margin: 1rem 0.2rem;
    width: 49%;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
}

table{
    width: 90%;
    background: #f6f6f6;
    margin: 0px auto;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    border-radius: 20px;
    border-collapse:collapse;
}

table tr,th,td{
    text-align: center;
    padding: 0.5rem;
}

table th{
    background: #00613d;
    color: white;
}

#table-top-left{
    border-top-left-radius:20px;
}
#table-top-right{
    border-top-right-radius:20px;
}

.form{
    width: 48%;
    float: right;
    margin: 1rem 0.2rem;
    background: white;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    border-radius: 20px;
}

form{
    display: flex;
    justify-content: space-between;
    /* width: 80%;
    padding: 0 1rem; */
}

form .item{
    width: 49%;
    margin: 0 3% 3% 3%;
}
form .item input{
    width: 80%;
    font-size: 16px;
}

form label{
    font-size: 18px;
    font-weight: bold;
}
