<section>
    <div class="statistical">
        <h2 class="title statistical-title">Biểu đồ thể hiện thống kê doanh thu</h2>
        <div class="select-type">
            <div class="search-month">
                <label>Chọn tháng: </label>
                <select id="month">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <div class="search-year">
                <label>Chọn năm: </label>
                <select id="year">
                    <option>2019</option>
                    <option>2020</option>
                </select>
            </div>
        </div>
        <div>
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="doughnutChartColors"
            >
          </canvas>
        </div>
    </div>
    <div id="part">
        <div class="statistical-part">
            <h2 class="title statistical-title">Biểu đồ thể hiện 3 tuyến có doanh thu cao nhất</h2>
            <div class="table-station">
                <table>
                    <tr>
                        <th id="table-top-left">Firstname</th>
                        <th>Lastname</th>
                        <th id="table-top-right">Age</th>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>Smith</td>
                      <td>50</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>94</td>
                    </tr>
                  </table>
            </div>
        </div>
        <div class="statistical-part">
            <h2 class="title statistical-title warring">Biểu đồ thể hiện 3 tuyến có doanh thu thấp nhất</h2>
            <div class="table-station">
                <table>
                    <tr>
                      <th id="table-top-left">Firstname</th>
                      <th>Lastname</th>
                      <th id="table-top-right">Age</th>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>Smith</td>
                      <td>50</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>94</td>
                    </tr>
                  </table>
            </div>
           
        </div>
    </div>

</section>
